

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,700');

* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    /* border: 1px red solid;  */
}

main {

    background-image: url("../assets/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    display: flex;
    justify-content: center;
  
}

/* fonts */

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    line-height: 27px;
    padding-top: 0px;
    margin-top: -10px;
}

p {
    font-size: 18px;

}


/* navigation and header */
.menu-content {
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #34495e;
}
    
.menu-content a {
    padding: 5px;
    margin-right: 10px;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}
    
.menu-nav {
    display: flex;
}

.avatar {
    width: 300px;
    background-color: #f1c404;
} 

.avatar-list {
    line-height: 25px;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
}

.avatar-image {
    width: 60px;
}

/* nation creator page */

.creator-section {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    height: 100%;
    max-width: 800px;

}

form {
    font-family: 'Work Sans', sans-serif;
   
    padding:30px;
}

form p {
   margin: 20px;
}

.form-input {
    font-size: 14px;
    color:#808080ab;
    letter-spacing: 1px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #eee;
    height: 30px;
    width: 300px;
    margin-top: 7px;
    margin-bottom: 20px;


}

label > input {
    visibility: hidden; 
    position: absolute;
}

label > input + img {
    cursor: pointer;
    border: 2px solid transparent;

}

label > input:checked + img {
    border: 2px solid #f00;
}
.form-button {
    background: #e74c3c;
    color: white;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 20px;
    padding: 10px;
    width:320px;

}

.flag-image {
    width: 150px;
    height: 90px;;
}

/* survey page  */
.question-area {
    padding:40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    height: 100%;
    margin: 0;
    max-width: 800px;
}

/* .question-box {
    background-color: rgb(13, 255, 215);
}*/


.question-area-title
{
    padding: 20px;
    text-align: center;
    color:white;
    background-color: #e74c3c;
}

.question-area-title p {
    font-size: 22px;
    margin-top:-20px
}

.question-box {
    background-color: rgb(13, 255, 215);
}

.answer {
    background-color: #fcfafa;
    color: #34495e;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
}
.answer:hover {
    background-color:#2c3e50;
    color: white;
    opacity: 10;
    box-shadow: 5px 5px 3px rgb(131, 131, 131);
}

/* Results*/

.results-main  {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.results {

    max-width: 800px;
}

.results h2 {
    text-align: center;
}

.result-box {
    border: 1px solid #aaaa;
    border-radius: 8px;
    cursor: pointer;
    padding: 15px;
    margin: 20px;
    border-left: solid 10px #e74c3c;

}


.reset {
    
    background: #e74c3c;
    color: white;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 20px;
    padding: 10px;
    width:320px;
}

.reset-button {
    margin: 0 auto;
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height:50px;
    margin: 10px;
    width:50px;
}


/* responsive */
@media screen and (min-width: 400px) {
    .menu-content {
    display:flex;
    flex-direction: row;
    }
}
