

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,700');


main {
    background: #3498db;
    padding: 40px;
}

/* fonts */

p {
    font-family: 'Work Sans', sans-serif;
}

/* nation creator page */



.creator-section {
    display: flex;
    background: white;
    justify-content: center;
    width: 600px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

form {
    font-family: 'Work Sans', sans-serif;
}

form p {
   margin: 20px;
}

.form-input {

    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #eee;
    height: 30px;
    width: 300px;

}

.form-button {
    background: #e74c3c;
    color: white;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 20px;
    padding: 10px;
    width:320px;

}
/* survey page  */

.question-box {
    background-color: rgb(13, 255, 215);
}
.answer {
    background-color: maroon;
    color: white;
    cursor: pointer;
}


/* navigation and header */
.menu-content {
    display: none; 
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    justify-content: space-between;
}
    
.menu-content a {
    padding: 5px;

    text-align: center;
    color: black;
    text-decoration: none;
}
    
.avatar {
    width: 300px;
} 

/* footer */
.footer {
    position: fixed;
    bottom: 0;
    height:40px;
    text-align: center;
    width: 100%;
}
.logo{
    position:absolute;
    bottom:10px;
    left: 600px;
    width:50px;
}

/* responsive */
    
@media screen and (min-width: 400px) {
    .menu-content {
    display:flex;
    flex-direction: row;
    }
}
